<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Account | Loans</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css'>
    <link rel="stylesheet" href="css/loans.css">
</head>

<body>

    {{{body}}}
</body>
</html>