 <div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form method="POST" action="/loginuser" novalidate>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" class="form-control" name="username" id="floatingInput" value="{{this.username}}" placeholder="Username" required="">
					<input type="password" class="form-control" name="password" id="floatingInput" value="{{this.password}}" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>

  <div>
    <img src="img/new_logo.png" alt="Logo" width="300" height="300" id="logo-login">
    <h3 id="text-logo">The Bank you deserve</h3>
  </div>